html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: monospace;
}

#app-header {
    display: flex;
    flex-direction: row;
    background-color: rgb(6, 53, 102);
    color: white;
    padding: 4px;
}

#app-logo {
    font-size: 24px;
}

.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.flex .fill {
    flex-grow: 1;
}

.flex.col.v-center {
    justify-content: center;
}

.flex.col.h-center {
    align-items: center;
}

.action-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-basis: 64px;
}

.action-bar button {
    font-family: inherit;
    flex: 1 1 auto;
}