<h2>{{vm.roomId}}</h2>
<button ng-click="vm.updateUser()">POST</button>
<label>User Name:</label><input ng-model="vm.user.name">
<div ng-show="vm.locationPending && !vm.locationDenied">
    <h3>Awaiting location...</div>
<div ng-show="vm.locationDenied">You denied location ya dumb dog!</div>
<div ng-if="!vm.locationPending">
    <leaflet lf-center="vm.center" markers="vm.markers" height="480px" width="100%"></leaflet>
    <div ng-show="vm.usersPending">Loading users...</div>
    <div ng-show="vm.users">
        <div ng-repeat="user in vm.users track by id">
            <span>{{user.id}}</span>
        </div>
    </div>
</div>