<div ng-show="vm.locationPending" class="fill flex col v-center h-center">
    <div ng-show="!vm.locationDenied">
        <h3>{{vm.phrase.findingLocation}}</h3>
    </div>
    <div ng-show="vm.locationDenied">
        <h3>{{vm.phrase.locationDenied}}</h3>
        <h3>{{vm.phrase.locationDeniedLong}}</h3>
        <button ng-click="reloadPage();">Try again</button>
    </div>
</div>


<div ng-show="!vm.locationPending" class="flex col fill">
    <div id="map-wrapper" class="fill">
        <ui-gmap-google-map id="map" center='vm.map.center' zoom='vm.map.zoom' events="vm.map.events">
            <ui-gmap-markers models="vm.markers" idKey='id' options="'options'" fit="true" coords="'location'"></ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

    <div ng-show="vm.usersPending">Loading users...</div>

    <div class="action-bar">
        <button class="action-bar-action" ng-click="vm.renameMe();" style="color: {{vm.myColor}}">
            {{vm.myName || 'You'}}
        </button>
        <button class="action-bar-action" ng-click="vm.showUsers();">
            {{vm.markers.length -1}} {{vm.markers.length -1 === 1 ? 'other' : 'others'}}
        </button>
        <button class="action-bar-action" ng-click="vm.quickShare()">
            Share...
        </button>
    </div>

</div>


<style>
    ui-gmap-google-map {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .angular-google-map,
    .angular-google-map-container {
        height: 100%;
    }

    #map-wrapper {
        flex: 1;
        position: relative;
    }
</style>